# coding: utf-8

"""


    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ...base_api import BaseApi
from ...configuration import Configuration
from ..api_client import ApiClient


class AccountsApi(BaseApi):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    # OPERATIONID: create_new_sub_account
    def create_new_sub_account(self, account_id, account_name, callback=None, **kwargs):
        """
        Create a new sub-account
        Add a new sub-account to a given account.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_new_sub_account_with_http_info(account_id, account_name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id: ID (required)
        :param str account_name: The name of the new sub-account. (required)
        :param int account_default_storage_quota_mb: The default course storage quota to be used, if not otherwise specified.
        :param int account_default_user_storage_quota_mb: The default user storage quota to be used, if not otherwise specified.
        :param int account_default_group_storage_quota_mb: The default group storage quota to be used, if not otherwise specified.
        :return: list[Account]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        url = '/v1/accounts/{account_id}/sub_accounts'
        method = 'POST'
        attribute_map = {
            'path': {
                'account_id': 'account_id',
            },
            'form': {
                'account_name': 'account[name]',
                'account_default_storage_quota_mb': 'account[default_storage_quota_mb]',
                'account_sis_account_id': 'account[sis_account_id]',
                'account_default_user_storage_quota_mb': 'account[default_user_storage_quota_mb]',
                'account_default_group_storage_quota_mb': 'account[default_group_storage_quota_mb]'
            }
        }
        attributes = kwargs
        kwargs['account_id'] = account_id
        kwargs['account_name'] = account_name
        returns = 'models.Account'

        return self.api_precall(url, method, attributes, attribute_map, returns, callback)

        # all_params = ['account_id', 'account_name', 'account_default_storage_quota_mb', 'account_default_user_storage_quota_mb', 'account_default_group_storage_quota_mb']
        # all_params.append('callback')
        # all_params.append('_return_http_data_only')
        # all_params.append('per_page')
        # all_params.append('page')

        # params = locals()
        # for key, val in iteritems(params['kwargs']):
        #     if key not in all_params:
        #         raise TypeError(
        #             "Got an unexpected keyword argument '%s'"
        #             " to method create_new_sub_account" % key
        #         )
        #     params[key] = val
        # del params['kwargs']
        # # verify the required parameter 'account_id' is set
        # if ('account_id' not in params) or (params['account_id'] is None):
        #     raise ValueError("Missing the required parameter `account_id` when calling `create_new_sub_account`")
        # # verify the required parameter 'account_name' is set
        # if ('account_name' not in params) or (params['account_name'] is None):
        #     raise ValueError("Missing the required parameter `account_name` when calling `create_new_sub_account`")

        # resource_path = '/v1/accounts/{account_id}/sub_accounts'.replace('{format}', 'json')
        # path_params = {}
        # if 'account_id' in params:
        #     path_params['account_id'] = params['account_id']

        # query_params = {}
        # if 'per_page' in params:
        #     query_params['per_page'] = params['per_page']
        # if 'page' in params:
        #     query_params['page'] = params['page']

        # header_params = {}

        # form_params = []
        # local_var_files = {}
        # if 'account_name' in params:
        #     form_params.append(('account[name]', params['account_name']))
        # if 'account_default_storage_quota_mb' in params:
        #     form_params.append(('account[default_storage_quota_mb]', params['account_default_storage_quota_mb']))
        # if 'account_default_user_storage_quota_mb' in params:
        #     form_params.append(('account[default_user_storage_quota_mb]', params['account_default_user_storage_quota_mb']))
        # if 'account_default_group_storage_quota_mb' in params:
        #     form_params.append(('account[default_group_storage_quota_mb]', params['account_default_group_storage_quota_mb']))

        # body_params = None

        # # HTTP header `Accept`
        # header_params['Accept'] = self.api_client.\
        #     select_header_accept(['application/json'])
        # if not header_params['Accept']:
        #     del header_params['Accept']

        # # HTTP header `Content-Type`
        # header_params['Content-Type'] = self.api_client.\
        #     select_header_content_type([])

        # # Authentication setting
        # auth_settings = ['canvas']

        # return self.api_client.call_api(resource_path, 'POST',
        #                                     path_params,
        #                                     query_params,
        #                                     header_params,
        #                                     body=body_params,
        #                                     post_params=form_params,
        #                                     files=local_var_files,
        #                                     response_type='list[Account]',
        #                                     auth_settings=auth_settings,
        #                                     callback=params.get('callback'),
        #                                     _return_http_data_only=params.get('_return_http_data_only'))

    # OPERATIONID: delete_user_from_root_account
    def delete_user_from_root_account(self, account_id, user_id, **kwargs):
        """
        Delete a user from the root account
        Delete a user record from a Canvas root account. If a user is associated with multiple root accounts (in a multi-tenant instance of Canvas), this action will NOT remove them from the other accounts.  WARNING: This API will allow a user to remove themselves from the account. If they do this, they won't be able to make API calls or log into Canvas at that account.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_user_from_root_account_with_http_info(account_id, user_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id: ID (required)
        :param str user_id: ID (required)
        :return: User
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'user_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('per_page')
        all_params.append('page')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_user_from_root_account" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `delete_user_from_root_account`")
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params) or (params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `delete_user_from_root_account`")

        resource_path = '/v1/accounts/{account_id}/users/{user_id}'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']
        if 'user_id' in params:
            path_params['user_id'] = params['user_id']

        query_params = {}
        if 'per_page' in params:
            query_params['per_page'] = params['per_page']
        if 'page' in params:
            query_params['page'] = params['page']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['canvas']

        return self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='User',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    # OPERATIONID: get_single_account
    def get_single_account(self, id, **kwargs):
        """
        Get a single account
        Retrieve information on an individual account, given by id or sis sis_account_id.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_single_account_with_http_info(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id: ID (required)
        :return: Account
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('per_page')
        all_params.append('page')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_single_account" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_single_account`")

        resource_path = '/v1/accounts/{id}'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}
        if 'per_page' in params:
            query_params['per_page'] = params['per_page']
        if 'page' in params:
            query_params['page'] = params['page']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['canvas']

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Account',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    # OPERATIONID: get_sub_accounts_of_account
    def get_sub_accounts_of_account(self, account_id, **kwargs):
        """
        Get the sub-accounts of an account
        List accounts that are sub-accounts of the given account.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_sub_accounts_of_account_with_http_info(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id: ID (required)
        :param bool recursive: If true, the entire account tree underneath this account will be returned (though still paginated). If false, only direct sub-accounts of this account will be returned. Defaults to false.
        :return: list[Account]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'recursive']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('per_page')
        all_params.append('page')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_sub_accounts_of_account" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `get_sub_accounts_of_account`")

        resource_path = '/v1/accounts/{account_id}/sub_accounts'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']

        query_params = {}
        if 'recursive' in params:
            query_params['recursive'] = params['recursive']
        if 'per_page' in params:
            query_params['per_page'] = params['per_page']
        if 'page' in params:
            query_params['page'] = params['page']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['canvas']

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[Account]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    # OPERATIONID: list_accounts
    def list_accounts(self, **kwargs):
        """
        List accounts
        List accounts that the current user can view or manage.  Typically, students and even teachers will get an empty list in response, only account admins can view the accounts that they are in.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_accounts_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param list[str] include: Array of additional information to include. \"lti_guid\":: the 'tool_consumer_instance_guid' that will be sent for this account on LTI launches \"registration_settings\":: returns info about the privacy policy and terms of use
        :return: list[Account]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['include']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('per_page')
        all_params.append('page')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_accounts" % key
                )
            params[key] = val
        del params['kwargs']

        resource_path = '/v1/accounts'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'include' in params:
            query_params['include'] = params['include']
        if 'per_page' in params:
            query_params['per_page'] = params['per_page']
        if 'page' in params:
            query_params['page'] = params['page']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['canvas']

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[Account]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    # OPERATIONID: list_accounts_for_course_admins
    def list_accounts_for_course_admins(self, **kwargs):
        """
        List accounts for course admins
        List accounts that the current user can view through their admin course enrollments. (Teacher, TA, or designer enrollments). Only returns \"id\", \"name\", \"workflow_state\", \"root_account_id\" and \"parent_account_id\"

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_accounts_for_course_admins_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :return: list[Account]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('per_page')
        all_params.append('page')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_accounts_for_course_admins" % key
                )
            params[key] = val
        del params['kwargs']

        resource_path = '/v1/course_accounts'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'per_page' in params:
            query_params['per_page'] = params['per_page']
        if 'page' in params:
            query_params['page'] = params['page']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['canvas']

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[Account]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    # OPERATIONID: list_active_courses_in_account
    def list_active_courses_in_account(self, account_id, **kwargs):
        """
        List active courses in an account
        Retrieve the list of courses in this account.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_active_courses_in_account_with_http_info(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id: ID (required)
        :param bool with_enrollments: If true, include only courses with at least one enrollment. If false, include only courses with no enrollments. If not present, do not filter on course enrollment status.
        :param bool published: If true, include only published courses. If false, exclude published courses. If not present, do not filter on published status.
        :param bool completed: If true, include only completed courses (these may be in state 'completed', or their enrollment term may have ended). If false, exclude completed courses. If not present, do not filter on completed status.
        :param list[int] by_teachers: List of User IDs of teachers; if supplied, include only courses taught by one of the referenced users.
        :param list[int] by_subaccounts: List of Account IDs; if supplied, include only courses associated with one of the referenced subaccounts.
        :param bool hide_enrollmentless_courses: If present, only return courses that have at least one enrollment. Equivalent to 'with_enrollments=true'; retained for compatibility.
        :param list[str] state: If set, only return courses that are in the given state(s). By default, all states but \"deleted\" are returned.
        :param int enrollment_term_id: If set, only includes courses from the specified term.
        :param str search_term: The partial course name, code, or full ID to match and return in the results list. Must be at least 3 characters.
        :param list[str] include: - All explanations can be seen in the {api:CoursesController#index Course API index documentation}
        :return: list[Course]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'with_enrollments', 'published', 'completed', 'by_teachers', 'by_subaccounts', 'hide_enrollmentless_courses', 'state', 'enrollment_term_id', 'search_term', 'include']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('per_page')
        all_params.append('page')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_active_courses_in_account" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `list_active_courses_in_account`")

        resource_path = '/v1/accounts/{account_id}/courses'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']

        query_params = {}
        if 'with_enrollments' in params:
            query_params['with_enrollments'] = params['with_enrollments']
        if 'published' in params:
            query_params['published'] = params['published']
        if 'completed' in params:
            query_params['completed'] = params['completed']
        if 'by_teachers' in params:
            query_params['by_teachers'] = params['by_teachers']
        if 'by_subaccounts' in params:
            query_params['by_subaccounts'] = params['by_subaccounts']
        if 'hide_enrollmentless_courses' in params:
            query_params['hide_enrollmentless_courses'] = params['hide_enrollmentless_courses']
        if 'state' in params:
            query_params['state'] = params['state']
        if 'enrollment_term_id' in params:
            query_params['enrollment_term_id'] = params['enrollment_term_id']
        if 'search_term' in params:
            query_params['search_term'] = params['search_term']
        if 'include' in params:
            query_params['include'] = params['include']
        if 'per_page' in params:
            query_params['per_page'] = params['per_page']
        if 'page' in params:
            query_params['page'] = params['page']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['canvas']

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[Course]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    # OPERATIONID: update_account
    def update_account(self, id, **kwargs):
        """
        Update an account
        Update an existing account.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_account_with_http_info(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id: ID (required)
        :param str account_name: Updates the account name
        :param str account_default_time_zone: The default time zone of the account. Allowed time zones are {http://www.iana.org/time-zones IANA time zones} or friendlier {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}.
        :param int account_default_storage_quota_mb: The default course storage quota to be used, if not otherwise specified.
        :param int account_default_user_storage_quota_mb: The default user storage quota to be used, if not otherwise specified.
        :param int account_default_group_storage_quota_mb: The default group storage quota to be used, if not otherwise specified.
        :return: Account
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'account_name', 'account_default_time_zone', 'account_default_storage_quota_mb', 'account_default_user_storage_quota_mb', 'account_default_group_storage_quota_mb']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('per_page')
        all_params.append('page')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_account" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `update_account`")

        resource_path = '/v1/accounts/{id}'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}
        if 'per_page' in params:
            query_params['per_page'] = params['per_page']
        if 'page' in params:
            query_params['page'] = params['page']

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'account_name' in params:
            form_params.append(('account[name]', params['account_name']))
        if 'account_default_time_zone' in params:
            form_params.append(('account[default_time_zone]', params['account_default_time_zone']))
        if 'account_default_storage_quota_mb' in params:
            form_params.append(('account[default_storage_quota_mb]', params['account_default_storage_quota_mb']))
        if 'account_default_user_storage_quota_mb' in params:
            form_params.append(('account[default_user_storage_quota_mb]', params['account_default_user_storage_quota_mb']))
        if 'account_default_group_storage_quota_mb' in params:
            form_params.append(('account[default_group_storage_quota_mb]', params['account_default_group_storage_quota_mb']))

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['canvas']

        return self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Account',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))
