'per_page': {
    'param_type': 'query',
    'type': int,
    'help': 'Number of items to show on each page.',
    'required': False
},
'page': {
    'param_type': 'query',
    'type': int,
    'help': 'Page of items to load',
    'required': False
},